name: Wisecow CI/CD workflow

on:
    push:
        branches:
            - main

env:
    KUBECONFIG: ${{ secrets.KUBECONFIG }}
    AWS_REGION: us-east-1
    ECR_REGISTRY: 661239473781.dkr.ecr.us-east-1.amazonaws.com


jobs:
    build:
        name: Build & push docker image
        runs-on: ubuntu-latest
        env:
            IMG_NAME: wisecow

        steps:

        - name: Checkout code
          uses: actions/checkout@v4

        - name: Debug
          run: |
            echo "github.ref -> {{ github.ref }}"
        
        - name: Docker metadata
          id: metadata
          uses: docker/metadata-action@v3
          with:
              images: ${{ env.IMG_NAME }}
              tags: |
                type=semver,pattern={{version}}
                type=semver,pattern={{major}}.{{minor}}
                type=raw,value={{sha}},enable=${{ github.ref_type != 'tag' }}
        
        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.AWS_REGION }}

        - name: Login to Amazon ECR
          env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          run: |
            aws ecr get-login-password --region ${{ env.AWS_REGION }} | docker login --username AWS --password-stdin ${{ env.ECR_REGISTRY }}
        - name: Build and push Docker image
          env:
            REGISTRY: ${{ env.ECR_REGISTRY }}
          run: |
           docker build -t $REGISTRY/${{ env.IMG_NAME }}:${{ steps.metadata.outputs.version }} .
           docker push $REGISTRY/${{ env.IMG_NAME }}:${{ steps.metadata.outputs.version }}